:root {
  --main-backgroud: rgb(255, 255, 254);
  --text: rgb(0, 0, 0);
  --main-color: #008080;
  --foreground: rgb(128, 128, 128);

  --rounded-sm: 0.4rem;
}

[data-theme="dark"] {
  --main-backgroud: rgb(30, 30, 30);
  --text: rgb(212, 212, 212);
  --main-color: rgb(61, 201, 176);
  --foreground: rgba(121, 121, 121, 0.4);
}
