@import url("../../styles/variables.css");

.wrapper {
  background: var(--main-backgroud);
  border: 1px solid var(--foreground);
  border-radius: var(--rounded-sm);
  color: var(--text);
  text-transform: capitalize;
}

.header {
  padding: 0.2rem 0.4rem;
  background: var(--main-color);
  color: #ffff;
}

.listItem {
  padding: 0.2rem 0.4rem;
  display: flex;
  justify-content: space-between;
  gap: 0.6rem;
}

.listWrapper > :not(:last-child) {
  border-bottom: 1px solid var(--foreground);
}
